<%= form_for @father do |f| %>

  <%= f.hidden_field :parent_id %>
  <p>
    <%= f.label :name, "New Father" %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Create Father" %></p>
<% end %>
