<h1>New Son</h1>

<%= render @father.parent if @father.parent %>

<%= form_for @father do |f| %>

  <%= f.hidden_field :parent_id %>
  <p>
    <%= f.label :name, "New Son" %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Create Son" %></p>
<% end %>

<%= link_to 'Back', fathers_path %>
