<%= form_for([@father, @son]) do |f| %>
  <% if @son.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@son.errors.count, "error") %> prohibited this son from being saved:</h2>

      <ul>
      <% @son.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
