<h1>Listing Sons</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @son.each do |son| %>
  <tr>
    <td><%= son.name %></td>
    <td><%= link_to 'Edit', edit_father_son_path(@father, son) %></td>
    <td><%= link_to 'Destroy', [@father, son], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Son', new_father_son_path %> |
<%= link_to 'Father Index', fathers_path %>
